input.nascimento {
    margin-left: 10px;
}

.nome-idade {
    display: flex;
}

@media(max-width: 579px) {
    .nome-idade {
        flex-direction: column;
        gap: 10px;
    }
}

.nome-p-fisica {
    width: 100%;
}

.idade-sexo {
    display: flex;
}

.idade {
    width: 100%;
}

.sexo-candidato {
    width: 100%;
    margin-left: 10px;
}

.rg-expedicao {
    display: flex;
}

.rg {
    width: 100%;
}

.expedicao {
    width: 100%;
    margin-left: 10px;
}

.cnh-categoria {
    display: flex;
}

.cnh {
    width: 100%;
}

.categoria {
    width: 100%;
    margin-left: 10px;
}