.cotacoes {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: -20px 0 40px 0;
}

.cot-p-juridica {
    padding: 10px;
    background-color: var(--verde);
    border-radius: 5px;
    color: white;
}

.cot-p-juridica a {
    color: white;
    font-weight: normal;
    color: white;
}

.cot-p-juridica a:hover {
    color: white;
    font-weight: normal;
    color: white;
}

.cot-p-fisica {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    color: white;
}

.cot-p-fisica a {
    color: white;
    font-weight: normal;
}

.cot-p-fisica:hover {
    background-color: var(--verde);
}

@media(max-width: 464px) {
    .cotacoes {
        gap: 5px;
    }

    .cot-p-fisica {
        padding: 5px;
        text-align: center;
    }

    .cot-p-juridica {
        padding: 5px;
        text-align: center;
    }
}

.header-seguro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    color: var(--azul-escuro);
    text-align: center;
}

input, select, textarea {
    padding: 10px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    color: var(--azul-escuro);
}

textarea {
    resize: none;
}

/* Estilo do checkbox não marcado */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(128, 128, 128, 0.134);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--verde);
}

.escolha-seguros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 666px) {
    .escolha-seguros {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .p-selecao {
        align-self: center;
    }
}

.cobertura-existente {
    height: 100px;
}

.checkbox-itens {
    display: flex;
    align-items: center;
    gap: 10px;
}
