.cotacoes {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: -20px 0 40px 0;
}

.cot-p-juridica {
    padding: 10px;
    background-color: var(--verde);
    border-radius: 5px;
    color: white;
}

.cot-p-juridica a {
    color: white;
    font-weight: normal;
    color: white;
}

.cot-p-juridica a:hover {
    color: white;
    font-weight: normal;
    color: white;
}

.cot-p-fisica {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    color: white;
}

.cot-p-fisica a {
    color: white;
    font-weight: normal;
}

.cot-p-fisica:hover {
    background-color: var(--verde);
}

@media(max-width: 464px) {
    .cotacoes {
        gap: 5px;
    }

    .cot-p-fisica {
        padding: 5px;
        text-align: center;
    }

    .cot-p-juridica {
        padding: 5px;
        text-align: center;
    }
}

.header-seguro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    color: var(--azul-escuro);
}

input, select {
    padding: 5px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    color: var(--azul-escuro);
}

/* Estilo do checkbox não marcado */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(128, 128, 128, 0.134);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--verde);
}

.escolha-seguros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 666px) {
    .escolha-seguros {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .p-selecao {
        align-self: center;
    }
}

.email-nascimento {
    display: flex;
}

.email-p-fisica {
    width: 70%;
}

.p-nascimento {
    margin-left: 5px;
    display: flex;
    align-items: center;
    color: var(--azul-escuro);
}

.nascimento {
    margin-left: 2px;
}

@media(max-width: 489px) {
    .email-nascimento {
        flex-direction: column;
        gap: 10px;
    }

    .email-p-fisica {
        width: 97%;
    }

    .nascimento {
        width: 97%;
    }
}

.cidade-estado {
    display: flex;
}

.cidade {
    width: 80%;
}

.estado {
    width: 20%;
    margin-left: 5px;
}

@media(max-width: 471px) {
    .cidade {
        width: 65%;
    }
    
    .estado {
        width: 35%;
    }
}

.altura-peso {
    display: flex;
}

.altura {
    width: 50%;
}

.peso {
    width: 50%;
    margin-left: 5px;
}

.checkbox-itens {
    display: flex;
    align-items: center;
    gap: 10px;
}