@charset "UTF0-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

:root {
    --azul: #0318fc;
    --azul-escuro: #1228A6;
    --verde: #3ed108;
}

.logo {
    width: 200px;
}

a {
    color: var(--verde);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 80px;
    margin: auto;
    max-width: 1800px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--verde);
    margin: 8px;
    transition: 0.3s;
  }

.banner {
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 70vh;
    animation: bgcolor infinite 20s;
}

.line {
    background-image: linear-gradient(to right, var(--azul), var(--azul-escuro) );
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1em;
}

.banner h1 {
   text-align: center;
   color: white;
   margin-top: 60px;
   text-shadow: 2px 4px 6px #000000b8;
   font-size: 2.1em;

}

@keyframes bgcolor {
    0% {
        background-image: url(img/jess-zoerb-tvuTAZS_0xk-unsplash\ \(1\).jpg);
        background-position: bottom;
    }

    40% {
        background-image: url(img/everton-vila-AsahNlC0VhQ-unsplash.jpg);
        background-position: bottom;
    }

    60% {
        background-image: url(img/derek-thomson-M1jCmRxO7cY-unsplash.jpg);
        background-position: center;
    }

    100% {
        background-image: url(img/kevin-gent-DIZBFTl7c-A-unsplash.jpg);
        background-position: center;
    }
}