@charset "UTF0-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --azul: #0318fc;
    --azul-escuro: #1228A6;
    --verde: #3ed108;
}

.topo-redes-sociais {
  width: 100%;
  background-color: white;
}

.topo-redes-sociais img {
  width: 20px;
  padding: 5px 5px 0 5px;
  margin-top: 5px;
}

.icone-topo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icone-topo a {
  border: 1px solid white;
}

.icone-topo a:hover {
  border-bottom: 1px solid var(--verde);
  transition-duration: 0.5s;
}

a {
    color: var(--verde);
    text-decoration: none;
  }

a:hover {
  color: #2d9108;
  font-weight: bold;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    max-width: 1800px;
  }

  .logo {
    width: 300px;
    padding: 40px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--verde);
    margin: 8px;
    transition: 0.3s;
  }

.banner {
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;
    animation: bgcolor infinite 40s;
}

.line {
    background-image: linear-gradient(to right, var(--azul), var(--azul-escuro) );
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1em;
    margin-top: 10px;
}

.banner h1 {
   text-align: center;
   color: white;
   margin-top: 60px;
   text-shadow: 2px 4px 6px #000000b8;
   font-size: 2.1em;

}

@keyframes bgcolor {
    0% {
        background-image: url(img/rial_foto01.jpg);
        background-position: center;
        background-size: cover;
    }

    30% {
        background-image: url(img/rial_foto02.jpg);
        background-position: center;
        background-size: cover;
    }

    50% {
        background-image: url(img/rial_foto03.jpg);
        background-position: center;
        background-size: cover;
    }

    70% {
      background-image: url(img/rial_foto04.jpg);
      background-position: center;
      background-size: cover;
  }

    90% {
        background-image: url(img/rial_foto05.jpg);
        background-position: center;
        background-size: cover;
    }
}

main {
  background-image: url(img/rial_back.png);
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;

}

.conteudo-principal {
  max-width: 1100px;
  padding: 70px 30px;
}

h2 {
  text-transform: uppercase;
  color: var(--azul-escuro);
  font-size: 1.9em;
  font-weight: normal;
}

strong {
  color: var(--verde);
  font-weight: normal;
}

.texto-conteudo-principal {
  margin: 15px 0;
  font-size: 1.4em;
  font-weight: lighter;
}

.topico-01,  .topico-05 {
  display: flex;
  flex-direction: column;
}

.topico-05 {
  padding-top: 40px;
}

.topico-02, .topico-03, .topico-04 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}

.img-conteudo-principal {
  width: 300px;
}

.topico-01, .topico-02, .topico-03, .topico-04, .line-p {
  visibility: hidden;
}

.produtos {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  gap: 20px;
}

.prod-01 {
  display: flex;
  background-color: #004AAD;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 13px #0000005c;
}

.prod-02 {
  display: flex;
  background-color: #7ED957;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 13px #0000005c;
}

.prod-03 {
  display: flex;
  background-color: #ED4586;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 13px #0000005c;
}

.prod-01-txt {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
}

.prod-02-txt {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
}

.prod-03-txt {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
}

.prod-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

h4 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: normal;
}

.prod-txt {
  text-align: justify;
  font-size: 1.4em;
  font-weight: lighter;
}

.prod-header img {
  width: 70px;
  margin-right: 15px;
}

.prod-01-img {
  background-image: url(img/seg-vida.jpg);
  background-size: cover;
  background-position: center;
  width: 30%;
  border-radius: 0 10px 10px 0;
}

.prod-02-img {
  background-image: url(img/tele-med.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 10px 0;
  width: 30%;
}

.prod-03-img {
  background-image: url(img/funeral.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 10px 0;
  width: 30%;
}

.foto-invisivel-01, .foto-invisivel-02, .foto-invisivel-03 {
  display: none;
}

h5 {
  font-size: 1.5em;
  margin: auto;
  color: var(--azul-escuro);
  font-weight: normal;
}

.contato {
  display: flex;
  margin-bottom: 50px;
  width: 90%;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
}

.itens-contato {
  display: flex;
  flex-direction: column;
  color: var(--azul-escuro);
  width: 40%;
}

.itens-contato-h3 {
  text-transform: uppercase;
}

.itens-contato-p {
  margin-bottom: 20px;
}


.formulario-contato {
  width: 60%;
}

.nome, .replyto, .assunto {
  width: 100%;
}

aside {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
}

iframe {
  width: 100%;
  height: 50vh;
}

.p-aside {
  margin: 20px 0;
  color: var(--azul-escuro);
  font-weight: bold
}

.publis {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.publi-a, .publi-b, .publi-c {
  width: 250px;
}

footer {
  background-image: linear-gradient(to right, var(--azul-escuro), var(--azul));
}

.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1800px;
  gap: 50px;
  padding: 50px 0px;
  margin: 0;
}

.logo-rodape {
  width: 200px;
}

.itens-rodape {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.a-rodape {
  color: white;
  text-align: center;
}

.a-rodape:hover {
  color: var(--verde);
}

.telefone {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.telefone h3 {
  padding: 20px 0;
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contato img {
  width: 25px;
}

.redes-sociais-rodape {
  display: flex;
  gap: 20px;
}

.redes-sociais-rodape a {
  border-bottom: 2px solid var(--azul);
}

.redes-sociais-rodape img{
  width: 35px;
}

.redes-sociais-rodape a:hover {
  border-bottom: 2px solid var(--verde);
  transition-duration: 0,5s;
}

.registro {
  background-color: var(--azul-escuro);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  flex-wrap: wrap;
}
