@charset "UTF0-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --azul: #0318fc;
    --azul-escuro: #1228A6;
    --verde: #3ed108;
}

.topo-redes-sociais {
  width: 100%;
  background-color: white;
}

.topo-redes-sociais img {
  width: 20px;
  padding: 5px 5px 0 5px;
  margin-top: 5px;
}

.icone-topo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icone-topo a {
  border: 1px solid white;
}

.icone-topo a:hover {
  border-bottom: 1px solid var(--verde);
  transition-duration: 0.5s;
}

a {
    color: var(--verde);
    text-decoration: none;
  }

a:hover {
  color: #2d9108;
  font-weight: bold;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    max-width: 1800px;
  }

  .logo {
    width: 300px;
    padding: 40px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--verde);
    margin: 8px;
    transition: 0.3s;
  }

.banner {
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 70vh;
    animation: bgcolor infinite 20s;
}

.line {
    background-image: linear-gradient(to right, var(--azul), var(--azul-escuro) );
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1em;
    margin-top: 10px;
}

.banner h1 {
   text-align: center;
   color: white;
   margin-top: 60px;
   text-shadow: 2px 4px 6px #000000b8;
   font-size: 2.1em;

}

@keyframes bgcolor {
    0% {
        background-image: url(img/jess-zoerb-tvuTAZS_0xk-unsplash\ \(1\).jpg);
        background-position: bottom;
    }

    40% {
        background-image: url(img/everton-vila-AsahNlC0VhQ-unsplash.jpg);
        background-position: bottom;
    }

    60% {
        background-image: url(img/derek-thomson-M1jCmRxO7cY-unsplash.jpg);
        background-position: center;
    }

    100% {
        background-image: url(img/kevin-gent-DIZBFTl7c-A-unsplash.jpg);
        background-position: center;
    }
}

main {
  background-image: url(img/rial_back.png);
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;

}

.conteudo-principal {
  max-width: 1100px;
  padding: 70px 30px;
}

h2 {
  text-transform: uppercase;
  color: var(--azul-escuro);
  font-size: 1.9em;
  font-weight: normal;
}

strong {
  color: var(--verde);
  font-weight: normal;
}

.texto-conteudo-principal {
  margin: 15px 0;
  font-size: 1.4em;
  font-weight: lighter;
}

.topico-01 {
  display: flex;
  flex-direction: column;
}

.topico-02, .topico-03, .topico-04 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}

.img-conteudo-principal {
  width: 300px;
}

.topico-01, .topico-02, .topico-03, .topico-04, .line-p {
  visibility: hidden;
}

footer {
  background-image: linear-gradient(to right, var(--azul-escuro), var(--azul));
}

.rodape {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 99vw;
  margin: auto;
  gap: 50px;
  padding: 50px 0;
}

.logo-rodape {
  width: 200px;
}

.itens-rodape {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.a-rodape {
  color: white;
  text-align: center;
}

.a-rodape:hover {
  color: var(--verde);
}

.registro {
  background-color: var(--azul-escuro);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}

.redes-sociais-rodape {
  display: flex;
  gap: 20px;
}

.redes-sociais-rodape img{
  width: 35px;
}
